.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1d2738;
}

::-webkit-scrollbar-thumb {
  background: #959cfb;
  height: 40px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:  #6b75fd;
}





