.homepage-container {
    display: flex;
    height: 94vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #182130;
    position: relative;
    padding-top: 20px;
}


.popular-movies-container{
    display: flex;
    position: relative;
    top: 5%;
    left: 40px;
    width: 100vw;
    height: auto;
    transition: 0.3s;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 40px;
    box-sizing: border-box;
}

.popular-movies-container.slide-right{
    left: 300px;
    width: 80vw;

}

.movie-container {
    margin: 10px;
    width: 220px;
}

.sortBy-container {
    position: absolute;
    top: 0;
    right: 1%;
    padding-top: 20px;
}
