.sidebar-container {
    width: 70px;
    height: 100%;
    background: #151c29;
    position: absolute;
    top: 60px;
    box-shadow: 2px 7px 10px 2px rgba(0, 0, 0, 0.788);
    z-index: 2;
}

.sidebar-buttons {
    position: absolute;
    height: 100vh;
    width: 70px;
    background:#151c29;
    z-index: 100;
}

.film-svg-container {
    position: relative;
    /* background: #4e30d6; */
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.tv-svg-container {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.tv-svg-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4e30d6;
    transition: 0.3s ease-in-out;
    z-index: -100;
}

.tv-svg-container.before:before{
    top: -100%;
}
.tv-svg-container.after:before{
    top: 100%;
}

.heart-svg-container {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    /* background: #4e30d6; */

}


.film-svg, .tv-svg, .heart-svg {
    fill: #fff;
}