.header-container {
    display: flex;
    position: fixed;
    background: #151c29;
    color: white;
    height: 60px;
    width: 100vw;
}

.header-container h3 {
    margin: 0;
    background: darkgray;
    width: 120px;
    height: 30px;
    align-self: center;
}