.search-relative-container {
    position: relative;
}


.search-container {
    position: absolute;
    top: 0;
    left: -180px;
    height: 93vh;
    width: 250px;
    background: #232c3b;
    transition: 0.3s;
    z-index: 1;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1d2738;
}

::-webkit-scrollbar-thumb {
    background: #959cfb;
    height: 40px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background:  #6b75fd;
}

.search-container.active {
    left: 70px;
    box-shadow: 0px 3px 10px 2px black;
    z-index: 100;
}

.search-type {
    margin: 15px 0;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 18px;
}

.filter-title {
    margin-top: 4px;
    padding-bottom: 8px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding-left: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}

.genres-type {
    margin: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: left;
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.genres-type.active {
    background:  rgba(255, 255, 255, 0.082);
}

.genres-type:hover {
    background: #636e83;
}

.rating-container {
    position: relative;
}

.rating-value {
    margin:0;
    position: absolute;
    right: 7%;
    width: 30px;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
}

.imdb {
    margin:0;
    position: absolute;
    left: 10%;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
}

.slider-container {
    margin-top: 30px;
}

.rating-slider, .year-start, .year-end {
    -webkit-appearance: none;
    width: 200px;
    height: 4px;
    border-radius: 5px;  
    background: #4a515e;
    outline: none; 
    /* overflow: hidden; */
}


.rating-track-filler {
    position: absolute;
    top: 90%;
    left: 8%;
    height: 4px;
    width: 3px;
    z-index: 1;
}

.rating-slider::-webkit-slider-thumb, .year-start::-webkit-slider-thumb, .year-end::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}

.year-end::-webkit-slider-thumb {
  background: #6b75fd;
  z-index: 4
}

.year-container {
  height: 90px;
  position: relative;
}

.year-start {
  position: absolute;
  bottom: 28%;
  left: 10%;
}

.year-end {
  position: absolute;
  bottom: 28%;
  left: 10%;
}

.year-track-filler {
  position: absolute;
  top: 65%;
  left: 15%;
  height: 4px;
  width: 1px;
  background: #959cfb;
  transform-origin: left;
  z-index: 1;
}

.chosen-years {
    color: #fff;
    position: absolute;
    top: 38%;
    left: 37%;
}

.countries-container {
    margin-bottom: 20px;
}

.countries-select-container {
    position: relative;
    background: #414855;
    margin: 0 30px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 200;
}

.countries-select-container p {
    padding-top: 6px;
    margin: 0;
    border-radius: 7px;
    height: 23px;
    cursor: pointer;
}

.countries-options {
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #414855;
    transition: 0.3s ;
}

.countries-options.active {
   height: 130px;
   opacity: 1;
}

.countries-options option:hover {
    background: #5b6579;
    cursor: pointer
}
